<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <hr>

        <!-- <p class="view"><a href="https://www.linkedin.com/in/yuxin-hu-rpi/">View my profile on LinkedIn <small>https://www.linkedin.com/in/yuxin-hu-rpi/</small></a></p>
        -->
        <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="yuxin-hu-rpi" data-version="v1">
          <a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/yuxin-hu-rpi?trk=profile-badge"></a>
        </div>

        <p class="view"; style="margin: 0px;"><a href="https://www.yuxinhu.ga/">Resume Page</a></p>
        <p class="view"; style="margin: 0px;"><a href="https://www.yuxinhu.ga/project1.html">{{site.project1}}</a></p>
        <p class="view"; style="margin: 0px;"><a href="https://www.yuxinhu.ga/project2.html">{{site.project2}}</a></p>
        <p class="view"; style="margin: 0px;"><a href="https://www.yuxinhu.ga/project3.html">{{site.project3}}</a></p>
        <p class="view"; style="margin: 0px;"><a href="https://www.yuxinhu.ga/project4.html">{{site.project4}}</a></p>
        <p class="view"; style="margin: 0px;"><a href="https://www.yuxinhu.ga/project5.html">{{site.project5}}</a></p>
        <p class="view"; style="margin: 0px;"><a href="https://www.yuxinhu.ga/project6.html">{{site.project6}}</a></p>

        <hr>


        <a href="files/Yuxin_Hu_ME_2023.pdf">
          <div style="border: 2px solid gray;border-radius: 5px;margin-top: 10px;">
              <img align="center" src="/pics/resume.png" width="10%"> 
              <p style="margin: 3px">Download Resume in PDF </p>
          </div>
        </a>


      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
