<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" prefix=”og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta
      property="og:title"
      content="Yuxin Hu Portfolio"
    />
    <meta
      name="image"
      property="og:image"
      content="https://yuxinhu.ga/project2/exp.png"
    />
    <meta
      name="author"
      content="Yuxin Hu"
    />
    <meta
      property="og:description"
      content="Welcome to my Portfolio!"
    />
    <meta
      property="og:url"
      content="https://yuxinhu.ga"
    />
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <hr>

        <!-- <p class="view"><a href="https://www.linkedin.com/in/yuxin-hu-rpi/">View my profile on LinkedIn <small>https://www.linkedin.com/in/yuxin-hu-rpi/</small></a></p>
        -->

        <p class="view"; style="margin: 0px;"><a href="https://www.yuxinhu.ga/">Resume Page</a></p>
        <p class="view"; style="margin: 0px;"><a href="https://www.yuxinhu.ga/project1.html">{{site.project1}}</a></p>
        <p class="view"; style="margin: 0px;"><a href="https://www.yuxinhu.ga/project2.html">{{site.project2}}</a></p>
        <p class="view"; style="margin: 0px;"><a href="https://www.yuxinhu.ga/project3.html">{{site.project3}}</a></p>
        <p class="view"; style="margin: 0px;"><a href="https://www.yuxinhu.ga/project4.html">{{site.project4}}</a></p>
        <p class="view"; style="margin: 0px;"><a href="https://www.yuxinhu.ga/project5.html">{{site.project5}}</a></p>
        <p class="view"; style="margin: 0px;"><a href="https://www.yuxinhu.ga/project6.html">{{site.project6}}</a></p>



      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="yuxin-hu-rpi" data-version="v1">
          <a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/yuxin-hu-rpi?trk=profile-badge"></a>
        </div>

        <a href="files/Yuxin_Hu_ME_2023.pdf">
          <div style="border: 2px solid #267CB9;border-radius: 10px;margin-bottom: 15px;height: auto;" align="center">
            <img align="left" src="/pics/resume.png" height="25px" style="padding: 5px;vertical-align: middle;">
            <p style="padding: 5px;margin-bottom: 0;height:25px">Download Resume in PDF </p>
          </div>
        </a>



        <p>This website was designed and programmed by <a href="{{ site.github.owner_url }}">Yuxin</a> himself.</p>
        <p><small>Hosted on GitHub Pages. Visitor Count: </small><img src='https://www.free-website-hit-counter.com/c.php?d=4&id=140112&s=10' border='0' style="width:30px"></p> 

      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
